.section .images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section .images img {
  height: 50%;
}
@media (max-width: 700px) {
  .section .images {
    height: 100%;
    flex-direction: column;
  }
  .section .images img {
    height: auto;
    width: 100%;
  }
}
