.section .images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fp-controlArrow.fp-next {
  right: 45px !important;
}
.fp-controlArrow.fp-prev {
  left: 45px !important;
}

@media (max-width: 750px) {
  .section .images {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .section .images img {
    width: 80%;
  }
}
